body{
    background-color:aquamarine;
    color: blue;
}
h1{
    color: blueviolet;
}
a{
    color: violet;
    text-decoration: none;
}
a:hover{
    color: coral;
}
ul>li{
    color: darkmagenta;
    font-weight: 10px;
}
ul li:hover{
    color: deeppink;
}
ul li::before{
    content:"🚑";
}
a::after{
    content: "🤩";
}
p::first-letter{
    font-size: 200%;
    color: hotpink;
}
p:not(:first-of-type){
    text-decoration: underline;
}